{% extends "user_layout.html" %}
{% block body %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/image/edit-profile-bg.jpg') }}'">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Manage Profile</h1>
                            <span class="subheading">Transforming profile into a captivating reflection of personality</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-9 mx-auto">
                    <h1 align="center">Manage Profile</h1><hr>
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="post" action="/edit_userprofile" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <input class="form-control" id="username" name="username" type="text" value="{{postedit['username']}}" placeholder="Enter title..." required="required" readonly="readonly" />
                                    <label for="title">Username</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Title is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="sname" name="sname" type="text" value="{{postedit['sender_name']}}" placeholder="Sender Name..." required="required" />
                                    <label for="title" class="rq">Name</label>
                                </div>
                                <style type="text/css">
                                    .rq:after {
                                        content:" *";
                                        color: red;
                                      }
                                </style>
                                <div class="form-floating">
                                    <input class="form-control" id="email" name="email" type="email" placeholder="Enter Tag Line..." value="{{postedit['email']}}" data-sb-validations="required,email" required="required" />
                                    <label for="tline" class="rq">Email</label>
                                </div>
                                <div class="form-floating">
                                    <textarea style="height: 20rem" class="form-control" name="about" required="required">{{postedit['about']}}</textarea>
                                    <label for="tline" class="rq">About</label>
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <div class="container mb-3">
                                    <a href="/login_user"><button class="btn btn-primary text-uppercase" style="float: left;" id="submitButton" type="button">Back</button></a>
                                <button class="btn btn-primary text-uppercase" style="float: right;" id="submitButton" type="submit">Submit</button>
                                </div><br><br>
                            </form>
                </div>
            </div>
        </div>

{% endblock %}