  {% extends "admin_layout.html" %}
  {% block body %}
  <!-- Page Header-->
          <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/image/admin-bg.jpg') }}'">
              <div class="container position-relative px-4 px-lg-5">
                  <div class="row gx-4 gx-lg-5 justify-content-center">
                      <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if msg %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          <strong>Success!</strong> {{msg}}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {% endif %}
                          <div class="site-heading">
                              <h1>Admin Dashboard</h1>
                              <span class="subheading">Efficiently Manage Your Website with Ease: The Ultimate Admin Panel Solution</span>
                          </div>
                      </div>
                  </div>
              </div>
          </header>
          <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h1 align="center">Manage Feedback</h1><hr>
                        <div class="my-5">
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="post" action="/reply_contact/{{contacts.sno}}">
                                <div class="form-floating">
                                    <input class="form-control" id="sno" name="sno" type="text" value="{{contacts.sno}}" required="required"  readonly="readonly" />
                                    <label for="name">Sno</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="name" name="name" type="text" value="{{contacts.name}}" required="required"  readonly="readonly" />
                                    <label for="name">Name</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" name="email" type="email" value="{{contacts.email}}" required="required"  readonly="readonly" />
                                    <label for="email">Email address</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" name="phone" type="tel" value="{{contacts.phone_num}}" required="required"  readonly="readonly" />
                                    <label for="phone">Phone Number</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="msg" name="msg" type="text" value="{{contacts.msg}}" required="required"  readonly="readonly" />
                                    <label for="phone">Feedback</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="date" name="date" type="text" value="{{contacts.date}}" required="required"  readonly="readonly" />
                                    <label for="phone">Date</label>
                                </div>
                                <div class="form-floating">
                                  <textarea class="form-control" id="reply" name="reply" placeholder="Enter Your Reply" style="height: 12rem" required="required">{{contacts.reply}}</textarea>
                                  <label for="message">Your Reply</label>
                                </div>
                                <br /><br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage">
                                  <div class="text-center text-danger mb-3">Error sending message!</div>
                                </div>
                                <!-- Submit Button-->
                                <a href="/dashboard#managefdbk"><button class="btn btn-primary text-uppercase" style="float: left;" id="submitButton" type="button">Back</button></a>
                                <button class="btn btn-primary text-uppercase" style="float: right;" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
  {% endblock %}